.navright{
    margin-right: 40px;
}

.boto_user{
    color:black !important;
}

.move{
    right: 0;
    list-style: none;
    left:unset;
}

.navright{
    margin-right: 40px;
}

#login {
    background-image: url(/img/hola.jpg);
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.contenidor {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.titol{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5%;
    color: white;
}

.peli{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5%;
    color: black;
}
.linia{
    background-color: white;
    width: 30%;
}

.checkbox{
    color: white;
    text-align: center;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-signin-heading {
    text-align: center;
    color: white;
}

.checkbox {
    font-weight: normal;
}

.boto{
    background-color: white; 
    box-shadow: 10px 10px 5px #A4A4A4;
    color: black;
    margin: 10px auto;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.position-relative{
    position: relative;
}

.register{
    color:#ffc107;
}

.titleMovie{
    text-align: center;
    padding:30px;
}

.caratula{
    text-align: center;
}

.contingut{
    width: 100%;
    margin-top: 4%;
    position: relative;
}

.imgMovie{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 330px;
    width: 226px;
}
.imatge{
    display: inline-block;
    position: relative;
}
.center{
    text-align: center;
}
.cercador{
    position: relative;
    width: 100% !important;
    text-align: center;
    left: 10px;
}

.div-img{
    position: relative;
}

.date{
    color: gray;
    text-align: center;
}
.pelicula{
    width: 100%;
    height: 299px;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px #BFC9CA;
    display: flex;
}

.nota{
    position: absolute;
    left: 8%;
    top: 10%;
    text-align: right;
    width: 52%;
}

.text-s{
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.nota-m{
    position: absolute;
    top: 11%;
    left: 76%;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: black;
    border:3px solid #ffc107
}

.percent{
    position: absolute;
    left: 65%;
    font-size: 11px;
    top: 21%;
}

.sinopsis{
    height: 121px;
    max-height: 135px;
}
.moreinfo{
   text-align: center;
}
body{
    background: url(/img/fe.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.list-group-general{
    background-color: #ffc107 !important;
    color: black !important;
}


.a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover{
    background-color: #ffc107 !important;
}

.list-group-item{
    text-align: center;
}

.filtre:hover{
    background-color: #F5B041;
    color: black !important;
    cursor: pointer;
    opacity: 1;
}

.mida{
    font-size: 25px;
    color: black;
}

.mida:hover{
    color: #6C3483;
}

.lmdb{
    font-weight: bold;
}

.paginacio{
    background-color: orange !important;
}

.align{
    display: flex;
    margin: auto;
}

.info-peli{
    background-color: aqua;
}

.img-peli{
    background-color: blue;
    height: 450px;
    width: 300px;
}

.info-info{
    height: 608px;
    background-color: yellow;
}

.img-info:hover{
    cursor: pointer;
}

.col-img{
    text-align: center;
    background-color: red;
}

.pare{
    width: 100%;
    height: 608px;
}

.fill{
    width: 80%;
    background-color: transparent;
}

.fill1{
    width: 100%;
}

.poster{
    margin-left: 15%;
}

.genre{
    font-size: 1.25rem;
    font-weight:600; 
}

.genres{
    font-size: 1rem;
    font-weight: 400;
}

.play{
    font-size: 40px;
    color: white;
}

.play:hover{
    color: darkred;
}

.margin{
    margin: auto;
}

.data{
    color: #E6E6E6;
    font-size: 1.5rem;
}

.company{
    float: left;
}

.companies{
    float: right;
}

.flex{
    display: flex;
}

.cartes{
    display: flex;
    text-align: center;
}

.carta{
    margin: 2px;
    border: 3px grove darkred;
}

.llargadaCarta{
    height: 300px;
}

.caratulaMoreinfo{
    height: 250px;
}

.caratulaReco{
    height: 300px;
}

.imgActor{
    margin-left: 35%;
}

.politica{
    width: 35%;
    height: 400px;
    background-image: radial-gradient(circle at 20% 50%, rgba(74, 13, 3, 0.98) 0%, #61360a 100%);
    margin:auto;
    text-align: center;
}