.navright{
    margin-right: 40px;
}

.boto_user{
    color:black !important;
}

.move{
    right: 0;
    list-style: none;
    left:unset;
}

.navright{
    margin-right: 40px;
}

#login {
    background-image: url(/img/hola.jpg);
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.contenidor {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.titol{
    text-align: center;
    color: white;
    margin-top: 3%;
}

.linia{
    background-color: white;
    width: 30%;
}

.checkbox{
    color: white;
    text-align: center;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-signin-heading {
    text-align: center;
    color: white;
}

.checkbox {
    font-weight: normal;
}

.boto{
    background-color: #615545; 
    box-shadow: 10px 10px 5px black;
    color: white;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.position-relative{
    position: relative;
}

.register{
    color:#ffc107;
}